<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
	<!-- Define the page charset to be utf-8 -->
	<meta charset="utf-8" />
	
    <title>karskitools Markus Kainu</title>
	
	<!-- Enter a brief description of your page -->
	<meta name="description" content="">
	
	<!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Atom Feed -->
    <link href="/blog/feed.xml" rel="alternate" title="Markus Kainu's Blog Post Feed" type="application/atom+xml">
	
	<!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
	<link href="/css/normalize.css" rel="stylesheet" media="all" />

    <!-- Add bootstrap which makes everything better -->
    <link href="/css/readable-bootstrap.min.css" rel="stylesheet" media="all" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" media="all" />
    <!--
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <!-- Stylesheet for Pygments highlighting -->
    <link href="/css/pygments.css" rel="stylesheet" media="all" />

    <!-- Include the site stylesheet -->
	<link href="/css/styles.css" rel="stylesheet" media="all" />
	
	<!-- Include the HTML5 shiv and shiv print polyfills for Internet Explorer browsers 8 and below -->
	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js" media="all"></script>
		<script src="/js/html5shiv-printshiv.js" media="print"></script>
	<![endif]-->

</head>
<body>

    <div class="container">

	<!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
	<!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page --> 
	<header role="banner" class="subhead">
	
		<!-- ARIA: the landmark role "navigation" is added here as the element contains site navigation -->
		<div class="subnav">
			<!-- This can contain your site navigation either in an unordered list or even a paragraph that contains links that allow users to navigate your site -->
            <ul class="nav nav-pills pull-right">
                <li><a href="/karskitools/index.html">karskitools main</a></li>
                <li><a href="/karskitools/index.html">examples</a></li>
                <li><a title="code" href="https://github.com/muuankarski/karskitools">
                    <i class="icon-github"></i></a></li>
                <li><a title="tweets" href="https://twitter.com/muuankarski">
                    <i class="icon-twitter"></i></a></li>
                <li><a title="email" href="mailto:markuskainu@gmail.com">
                    <i class="icon-envelope"></i></a></li>
		</div>

		<h3><a href="/">Markus Kainu</a></h3>	
		
	</header>
	
	<!-- If you want to use an element as a wrapper, i.e. for styling only, then <div> is still the element to use -->
	<div class="wrap content shadow">

<h1 style="text-align:left; font-size:22.5px">karskitools-package</h1>
	
        <div id="homepage">

$body$


</div>





		
	</div>


	
	<!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
	<!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
	<footer role="contentinfo" style="margin: 10px 5px;">

        <small class="pull-right">With a little help from <a href="http://jekyllrb.com/">Jekyll</a> and <a href="http://getbootstrap.com/">Bootstrap</a></small>

		<!-- Copyright information can be contained within the <small> element. The <time> element is used here to indicate that the '2012' is a date -->
		<small>Copyright &copy; <a href="http://markuskainu.fi">Markus Kainu</a> <time datetime="2013">2013</time></small>
		
	</footer>

    </div>
	
	
</body>
</html>

