---
layout: default
title: Home
---
<div id="homepage">

<section class="level2" id="welcome-to-my-home-page">
<h2>Welcome to my home page</h2>
<img style="float: right; padding: 5px;" src="/img/markus_majakka.jpeg" alt="me at märket lighthouse">
<p>I'm a <strong>quantitatively orientated</strong> social scientist specialized in <strong>poverty</strong> and <strong>inequalities</strong> in <strong>post-socialist space</strong>, and in <strong>open source research software carpentry</strong>. Based in Helsinki, Finland. Blog discusses mainly how R language can be applied in social science research. Mostly in English, sometimes in Finnish.</p>
</section>
<section class="level2" id="tervetuloa-kotisivuilleni">
<h2>Tervetuloa kotisivuilleni</h2>
<p>Olen kvantitatiivisesti suuntautunut yhteiskuntatieteilijä, joka on erikoistunut <strong>köyhyyteen</strong> ja <strong>taloudelliseen eriarvoisuuteen</strong> <strong>post-sosialistisissa maissa</strong>, sekä <strong>avoimen koodin tutkimusohjelmistojen nikkarointiin</strong>. Blogissa käsittelen avoimen koodin ohjelmistojen käyttöä yhteiskuntatieteellisessä tutkimuksessa, painottaen erityisesti R-kieltä.</p>
</section>
<section class="level2" id="contact-me">
<h2>Contact me</h2>
<p>You can contact me via email at <a href="mailto:markuskainu@gmail.com">markuskainu@gmail.com</a> or on <a href="http://twitter.com/muuankarski">twitter</a>.</p>
</section>

<!-- and then some post from the blog -->

 <hr>

<h2>Latest in the blog</h2>

<p>Blog RSS here: <a title="blog RSS" href="http://markuskainu.fi/blog/feed.xml">
                    <i class="icon-rss"></i></a> </p>

    {% for post in site.posts offset: 0 limit: 3 %}
        <div style="border-bottom: 1px solid gray; padding: 5px 0;">
        <small style="color: #999;">{{ post.date | date: "%b %d, %Y" }}</small> 
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br />
        {% if post.summary %}
            <small>{{ post.summary }}</small>
        {% endif %}
        </div>
    {% endfor %}

</div>



